.auth-page {
  width: 100vw;
  height: 100vh;
  background-color: rgba(231, 195, 168, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 360px;
  background: linear-gradient(135deg, #000428, #004e92);
  padding: 40px;
  border-radius: 18px;
  backdrop-filter: blur(12px);
  color: #fff;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
  padding: 100px;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 24px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.auth-submit {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.auth-submit:hover {
  opacity: 0.9;
}
