.checkout-page {
  min-height: 100vh;
  padding: 40px 80px;
  background: #f5f7fb;
  font-family: "Segoe UI", sans-serif;
}

.checkout-page h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.checkout-container {
  display: flex;
  gap: 30px;
}

/* LEFT */
.checkout-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* RIGHT */
.checkout-right {
  flex: 1;
}

.card,
.summary-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.card h2,
.summary-card h2 {
  margin-bottom: 20px;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.radio {
  display: block;
  margin-bottom: 12px;
  font-size: 15px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.summary-card h3 {
  margin-top: 15px;
  font-size: 20px;
}

.place-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.place-btn:hover {
  background: #222;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .checkout-container {
    flex-direction: column;
  }

  .checkout-page {
    padding: 20px;
  }
}
